<div id="body">
  <div class="parking-platform">
    <div class="content">
      <div class="title-picture"></div>
      <div class="center-picture"></div>
      <div class="text">
        城市智慧停车平台是以云计算、物联网、大数据、人工智能技术为核心，面向各类路内、路外停车场，实现跨区域、多层级的集中监控和管理，实现停
        车智慧化、管理可视化和运营的高效化。智慧停车平台可面向公众提供综合性的停车服务，通过车主APP、公众号能够为车主提供电子支付、车位查询
        、预订、导航和车服务等增值体验。城市智慧停车平台是以云计算、物联网、大数据、人工智能技术为核心，面向各类路内、路外停车场，实现跨区域、多层级的集中监控和管理，实现停车智慧化、管理可视化和运营的高效化。智慧停车平台可面向公众提供综合性的停车服务，通过车主APP、公众号能够为车主提供电子支付、车位查询、预订、导航和车服务等增值体验。
      </div>
    </div>
  </div>
  <div class="solution">
    <div class="content">
      <img src="../../../assets/img/解决方案.png">
    </div>
  </div>
  <div class="systems">
    <div class="content">
      <div>
        <div class="bg-picture"></div>
        <img class="system-icon" src="../../../assets/img/路内停车管理系统icon1.png">
        <div class="system-name"><span>路内停车</span>管理系统</div>
        <img class="more-button" src="../../../assets/img/more_btn.png">
        <div class="pattern">
        </div>
      </div>
      <div>
        <div class="bg-picture"></div>
        <img class="system-icon" src="../../../assets/img/路外停车管理系统icon.png">
        <div class="system-name"><span>路外停车</span>管理系统</div>
        <img class="more-button" src="../../../assets/img/more_btn.png">
        <div class="pattern">
        </div>
      </div>
      <div>
        <div class="bg-picture"></div>
        <img class="system-icon" src="../../../assets/img/城市交通诱导系统icon.png">
        <div class="system-name"><span>城市交通</span>诱导系统</div>
        <img class="more-button" src="../../../assets/img/more_btn.png">
        <div class="pattern">
        </div>
      </div>
      <div>
        <div class="bg-picture"></div>
        <img class="system-icon" src="../../../assets/img/场内引导系统icon.png">
        <div class="system-name"><span>场内</span>引导系统</div>
        <img class="more-button" src="../../../assets/img/more_btn.png">
        <div class="pattern">
        </div>
      </div>
    </div>
  </div>
</div>
