<div class="footer">
  <div class="footer-top">
    <div class="logo">
        <div class="company-logo"></div>
        <div class="line"></div>
    </div>
    <div class="content">
      <div class="company-info">
        <div class="phone-name">热线电话</div>
        <div class="phone-number">133-9199-4909</div>
        <div class="company-email">
          <img src="../../assets/img/邮箱_icon.png">
          <span>chenquan@zhumengyuan.com</span>
        </div>
        <div class="company-address">
          <img src="../../assets/img/地址_icon.png">
          <span>北京市海淀区上地三街中黎科技园2层C223</span>
        </div>
      </div>
      <div class="QR-code"></div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="content">
      <div class="left">京ICP备15004460号-1</div>
      <div class="right">Copyright © 2018.北京筑梦园科技有限公司 版权所有</div>
    </div>
  </div>

</div>
