<div id="body">
  <div class="main-picture">
    <div class="content">
      <div class="title"><span>路外停车</span>管理系统</div>
      <div class="english">SYSTEM</div>
    </div>
  </div>
  <div class="main-content">
    <div class="content">
      <img class="system-title-img" src="../../../../../assets/img/系统介绍.png">
      <div class="system-text">路外停车管理系统是安装在有明确出入口的停车场中的管理系统，该系统主要服务于停车场管理者和前来停车的车
        主，在本方案中其作用主要是提高停车场的管理效率以及车主的停车体验、收集停车场的实时车位数据、实现停车场的信息化管理。
      </div>
      <img class="flow-chart" src="../../../../../assets/img/路外系统介绍.png">
      <img class="pay-style-title-img" src="../../../../../assets/img/支持多种支付方式.png">
      <div class="payStyle-mode">
        <div>
          <img class="payStyle-icon-img" src="../../../../../assets/img/现金支付icon.png">
          <div class="payStyle-name">现金支付</div>
          <div class="bottom-line"></div>
        </div>
        <div>
          <img class="payStyle-icon-img" src="../../../../../assets/img/公众号支付icon.png">
          <div class="payStyle-name">公众号支付</div>
          <div class="bottom-line"></div>
        </div>
        <div>
          <img class="payStyle-icon-img" src="../../../../../assets/img/提前支付icon.png">
          <div class="payStyle-name">提前支付</div>
          <div class="bottom-line"></div>
        </div>
        <div>
          <img class="payStyle-icon-img" src="../../../../../assets/img/扫码支付icon.png">
          <div class="payStyle-name">扫码支付</div>
          <div class="bottom-line"></div>
        </div>
        <div>
          <img class="payStyle-icon-img" src="../../../../../assets/img/ETC支付icon.png">
          <div class="payStyle-name">ETC支付</div>
          <div class="bottom-line"></div>
        </div>
      </div>
      <img class="sorting-out-title-img" src="../../../../../assets/img/合规备案的支付清分方案.png">
      <div class="sorting-out-mode">
        <div>
          <img class="sorting-out-img" src="../../../../../assets/img/平台级支付清分icon.png">
          <div class="sorting-out-name">平台级支付清分</div>
          <div class="bottom-line"></div>
        </div>
        <div>
          <img class="sorting-out-img" src="../../../../../assets/img/国有大行背书icon.png">
          <div class="sorting-out-name">国有大行背书</div>
          <div class="bottom-line"></div>
        </div>
        <div>
          <img class="sorting-out-img" src="../../../../../assets/img/人民银行备案icon.png">
          <div class="sorting-out-name">人民银行备案</div>
          <div class="bottom-line"></div>
        </div>
      </div>
    </div>
  </div>
</div>

