<div id="body">
  <div class="main-picture">
    <div class="content">
      <div class="title"><span>关于</span>我们</div>
      <div class="english">ABOUT&nbsp;US</div>
    </div>
  </div>
  <div class="plan-menu">
    <div class="content">
      <ul>
        <li><a routerLink="/about-us/basic-info" routerLinkActive="active-route">基本情况</a></li>
        <li><a routerLink="/about-us/development-history" routerLinkActive="active-route">发展历程</a></li>
        <li><a routerLink="/about-us/enterprise-qualification" routerLinkActive="active-route">企业资质</a></li>
        <li><a routerLink="/about-us/contact-us" routerLinkActive="active-route">联系我们</a></li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
