<div id="body">
  <div class="main-picture">
    <div class="content">
      <div class="title"><span>服务</span>优势</div>
      <div class="english">ADVANTAGE</div>
    </div>
  </div>
  <div class="main-substance">
    <div class="content">
      <div class="advantage-content">
        <img src="../../assets/img/强大的安全保障.png">
        <div class="text">
          <div class="text-title">强大的安全保障</div>
          <div class="text-introduce">采用两地三中心的金融级部署方案+等保三级，满足对系统与数据安全性的要求。
          </div>
        </div>
      </div>
      <div class="advantage-content">
        <div class="text">
          <div class="text-title">高效低成本的停车场对接方案</div>
          <div class="text-introduce">适配市面主流设备，升级改造后可实现无缝对接，成本低、效率高、时间短。</div>
        </div>
        <img src="../../assets/img/高效低成本的停车场对接方案.png">
      </div>
      <div class="advantage-content">
        <img src="../../assets/img/统一的管理平台及数据规范.png">
        <div class="text">
          <div class="text-title">统一的管理平台及数据规范</div>
          <div class="text-introduce">统一平台，统一管理，确保数据一致性、规范性，方便市民，服务于管理。</div>
        </div>
      </div>
      <div class="advantage-content">
        <div class="text">
          <div class="text-title">平台级合规支付方案</div>
          <div class="text-introduce">
            平台级支付清分，国有大行背书，更安全、更保障
            通过了人民银行的备案，合法合规
          </div>
        </div>
        <img src="../../assets/img/平台级合规支付方案.png">
      </div>
    </div>
  </div>

</div>
