<div class="nav-top" #targetDiv>
  <div class="nav-content">
    <div class="nav-logo">
      <img src="../../assets/img/logo1.png" alt="">
    </div>
    <div class="page-button-group">
      <div>首页</div>
      <div>城市级智慧停车方案</div>
      <div>服务优势</div>
      <div>关于我们</div>
    </div>
  </div>
  <!--  <div style="width: 200px;height:60px;border: 1px solid red;margin-right: 19%"></div>-->
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>


<!--    <nz-anchor [nzAffix]="false" [nzOffsetTop]='150'>-->
<!--      <nz-link nzHref="#body" nzTitle="首页"></nz-link>-->
<!--      <nz-link nzHref="#overseas" nzTitle="城市级智慧停车方案"></nz-link>-->
<!--      <nz-link nzHref="#message" nzTitle="服务优势"></nz-link>-->
<!--      <nz-link nzHref="#contact" nzTitle="关于我们"></nz-link>-->
<!--    </nz-anchor>-->
<!--    <button mat-button [matMenuTriggerFor]="menu">Menu</button>-->
<!-- #enddocregion mat-menu-trigger-for -->

