<div id="body">
  <div class="industrial-chain">
    <div class="content">
      <img src="../../../assets/img/智慧停车全产业链.png">
    </div>
  </div>
  <div class="city-platform">
    <div class="content">
      <img src="../../../assets/img/智慧停车全产业链.png">
    </div>
  </div>
  <div class="group-platform">
    <div class="content">
      <img src="../../../assets/img/集团化停车管理平台.png">
    </div>
  </div>
  <div class="cooperation-mode">
    <div class="content">
      <img src="../../../assets/img/合作模式.png">
      <div>
        <div>
          <div class="mode-name">SPV模式</div>
          <span class="red-line"></span>
          <div class="mode-detail">
            政府与筑梦园共同投资成立SPV公司；特许经
            营共同管理，共同分享收益。
          </div>
        </div>
        <div>
          <div class="mode-name">BOT模式</div>
          <span class="red-line"></span>
          <div class="mode-detail">
            筑梦园全额投资：建设 - 经营 - 移交；运营期
            满后将项目无偿或者有偿移交给政府部门。
          </div>
        </div>
        <div>
          <div class="mode-name">产品输出模式</div>
          <span class="red-line"></span>
          <div class="mode-detail">
            政府全额投资并做经营管理；筑梦园提供城市
            智慧停车解决方案。
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
