<div class="basic-info">
  <div class="content">
    <img src="../../../assets/img/北京筑梦园科技有限公司.png">
    <div class="text">北京筑梦园科技有限公司成立于2014年，是一家致力于提供全场景一站式城市级智慧停车解决方案提供商，是“华为严选”，
      腾讯WeCity、长三角静态交通一体化产业发展中心的生态合作伙伴，为城市管理者、停车场运营机构提供城市级智慧停车平台
      SAAS服务，实现停车服务的全场景覆盖，让沈阳成为国内首个落地城市级智慧停车解决方案的城市，交通部ETC智慧停车平台唯一试点城市。
    </div>
    <div class="group-content">
      <div class="feature-content">
        <img src="../../../assets/img/惠民.png">
        <div>
          <img class="img1" src="../../../assets/img/惠民icon.png">
          <div class="text-title">惠民</div>
          <div class="text-introduce">
            更加契合市民<br>
            分享城市资源的普惠诉求
          </div>
        </div>
      </div>
      <div class="feature-content">
        <div class="text-content">
          <img class="img2" src="../../../assets/img/善政icon.png">
          <div class="text-title">善政</div>
          <div class="text-introduce">
            更加符合城市管理者<br>
            善得民心的施政诉求
          </div>
        </div>
        <img src="../../../assets/img/善政.png">
      </div>
      <div class="feature-content">
        <img src="../../../assets/img/兴业.png">
        <div class="text-content">
          <img class="img3" src="../../../assets/img/兴业icon.png">
          <div class="text-title">兴业</div>
          <div class="text-introduce">
            更加聚焦停车资源<br>
            为核心的产业化发展诉求
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
