<div id="body">
  <div class="main-picture"></div>
  <div class="plan-menu">
    <div class="content">
      <ul>
        <li><a routerLink="/nav/parking-plan/business-scope" routerLinkActive="active-route">业务范围</a></li>
        <li><a routerLink="/nav/parking-plan/programme-overview" routerLinkActive="active-route">方案概述</a></li>
        <li><a routerLink="/nav/parking-plan/cooperation-cases" routerLinkActive="active-route">合作案例</a></li>
        <li><a routerLink="/nav/parking-plan/core-products" routerLinkActive="active-route">核心产品</a></li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
