<div id="body">
  <div class="main-picture">
    <div class="content">
      <div class="title"><span>场内</span>引导系统</div>
      <div class="english">SYSTEM</div>
    </div>
  </div>
  <div class="main-content">
    <div class="content">
      <img class="system-title-img" src="../../../../../assets/img/系统介绍.png">
      <div class="system-text">场内引导系统是将用于正常道路中的手机导航技术针对地下车库的场景进行了调整，并将调整后的导航技术用于地下车库的
        场内引导中。该方案在反向找车系统的基础上引入手机APP，并在手机APP中引入地图语音导航的方式，让场内的引导也能像正常的道路导航那样方便、
        准确，真正意义上提升场内引导的体验。
      </div>
      <img class="flow-chart" src="../../../../../assets/img/场内系统介绍配图.png">
      <img class="technical-title-img" src="../../../../../assets/img/简洁高效的技术优势.png">
      <div class="technical-mode">
        <div>
          <img class="technical-img" src="../../../../../assets/img/提高停车场效益icon.png">
          <div class="technical-name">提高停车场效益及企业竞争力</div>
          <div class="bottom-line"></div>
        </div>
        <div>
          <img class="technical-img" src="../../../../../assets/img/轻松实现反向寻车icon.png">
          <div class="technical-name">轻松实现反向寻车</div>
          <div class="bottom-line"></div>
        </div>
        <div>
          <img class="technical-img" src="../../../../../assets/img/室内导航icon.png">
          <div class="technical-name">通过手机APP搜索查看及室内引导</div>
          <div class="bottom-line"></div>
        </div>
      </div>
    </div>
  </div>
</div>

