<div id="body">
  <div class="content">
    <div class="wire-free-camera">
      <div class="product-picture"></div>
      <div class="product-introduce">
        <div class="product-name">免布线相机</div>
        <div class="red-line"></div>
        <div class="description-text">
          免布线中位相机是路内泊位的一对多检测设备，安装在3米高的位置处,通过定时抓拍的方式获
          取被检测泊位的照片并将照片上传给云端识别服务器进行图像识别， 从而实现对泊位的自动检测
          。免布线中位相机既可以检测车位的空闲状态、也可以识别停放车辆的车牌号码。 配合太阳能板
          电池供电以及4G网络通信，免布线中位相机可以实现自循环，达到无电、无网、无现场维护的
          使用状态。免布线中位相机可借杆安装，
          能够降低施工成本、提高建设效率。
        </div>
        <div class="more-button"><a routerLink="/nav/parking-plan/core-products/wire-free-camera">more</a></div>
      </div>
    </div>
    <div class="luya-camera" >
      <div class="product-picture"></div>
      <div class="product-introduce">
        <div class="product-name">路牙相机</div>
        <div class="red-line"></div>
        <div class="description-text">
          路牙相机是路内泊位的一对一检测设备，安装在泊位前方的马路牙子上，通过定时抓拍的方式获取被检测泊位的照片并将照片上传给云端识别服务器进行图像识别，
          从而实现对泊位的自动检测。路牙相机既可以检测车位的空闲状态、也可以识别停放车辆的车牌号码。配合太阳能板电池供电以及4G网络通信，路牙相机可以实现自循环，
          达到无电、无网、无光、无现场维护的使用状态。路牙相机施工简单、安装方便，不会对市容市貌造成影响。
        </div>
        <div class="more-button"><a routerLink="/nav/parking-plan/core-products/roadside-camera">more</a></div>
      </div>
    </div>
    <div class="video-post">
      <div class="product-picture"></div>
      <div class="product-introduce">
        <div class="product-name">视频桩</div>
        <div class="red-line"></div>
        <div class="description-text">
          视频桩是路内泊位的一对一检测设备，安装在泊位前侧方的人行道边缘，通过定时抓拍的方式获取被检测泊位的照片并将照片上传给云端识别服务器进行图像识别，
          从而实现对泊位的自动检测。 视频桩既可以检测车位的空闲状态、也可以识别停放车辆的车牌号码。配合太阳能板电池供电以及4G网络通信，视频桩可以实现自循环，
          达到无电、无网、无光、无现场维护的使用状态。视频桩施工简单、安装方便，不会对市容市貌造成影响。
        </div>
        <div class="more-button"><a routerLink="/nav/parking-plan/core-products/video-post">more</a></div>
      </div>
    </div>
  </div>
</div>
