/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Microsoft YaHei', '微软雅黑', 'MicrosoftJhengHei', '华文细黑', 'STHeiti', 'MingLiu';
  color: #363f5e;
}

/* more按钮 */
.more-button {
  width: 99px;
  height: 26px;
  line-height: 20px;
  background: url("./assets/img/more.png") no-repeat;
  transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms; /* Firefox 4 */
  -webkit-transition: ease-in-out 300ms; /* Safari 和 Chrome */
  -o-transition: ease-in-out 300ms; /* Opera */

  &:hover {
    background: url("./assets/img/more.png") no-repeat right;
  }

  a {
    display: inline-block;
    width: 99px;
    height: 26px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    color: #302E3E;
  }
}

/* 图片放大效果 */
.product-picture {
  width: 382px;
  height: 382px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  & > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    transition: ease-in-out 300ms;
    -moz-transition: ease-in-out 300ms; /* Firefox 4 */
    -webkit-transition: ease-in-out 300ms; /* Safari 和 Chrome */
    -o-transition: ease-in-out 300ms; /* Opera */

    &:hover {
      transform: scale(1.03);
      -ms-transform: scale(1.03); /* IE 9 */
      -moz-transform: scale(1.03); /* Firefox */
      -webkit-transform: scale(1.03); /* Safari 和 Chrome */
      -o-transform: scale(1.03);
    }
  }
}

